#projects > h2 {
  margin: 20px 0;
  display: block;
}
.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;
  gap: 20px;
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.projects h3 {
  font-size: xx-large;
}
.project-img {
  position: relative;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
}

.project-img::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Click to preview \2197";
  color: #fff;
  width: 100%;
  height: 99%;
  background-color: var(--bgc); /* Use dynamic variable */
  left: -100%;
  transform: translate(0, 0);
  position: absolute;
  transition: all 0.4s ease;
}

.project-img:hover::before {
  left: 0;
}

/* Set different background colors dynamically */
.contact {
  --bgc: #10586677;
}

.amazon {
  --bgc: #57480079;
}
@media (max-width: 900px) {
  .project-img::before {
    left: 0;
  }
}
@media (max-width: 800px) {
  .project {
    grid-template-columns: 1fr;
  }
  .project-col {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
