.skills-icon {
  margin-top: 20px;
  justify-content: space-evenly;
  font-size: 40px;
}

.skills-icon i {
  position: relative;
  text-shadow: 1px 2px 0 #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Define individual colors and set a CSS variable */
.html,
.git {
  color: #ff0000;
  --tooltip-bg: #ff0000;
}
.css {
  color: #2091eb;
  --tooltip-bg: #2091eb;
}
.tailwind {
  color: #25afe6;
  --tooltip-bg: #25afe6;
}
.bootstrap {
  color: #8911fb;
  --tooltip-bg: #8911fb;
}
.react {
  color: #06adb3;
  --tooltip-bg: #06adb3;
}
.mac {
  color: #d4037f;
  --tooltip-bg: #d4037f;
}

/* Hover effect for desktop */
.skills-icon i:hover {
  transform: scale(1.2);
}

/* Tooltip pseudo-element */
.skills-icon i::after {
  text-shadow: none;
  content: attr(data-name);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tooltip-bg); /* Use CSS variable for background */
  color: white;
  font-size: 12px;
  padding: 10px;
  letter-spacing: 0.3px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  /* font-weight: 600; */
  font-family: sans-serif;
  transition: opacity 0.2s, transform 0.2s;
}

/* Tooltip visible on hover (desktop) */
.skills-icon i:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
}

/* Tooltip visible on tap (mobile) */
@media (max-width: 900px) {
  .skills-icon {
    font-size: 30px;
  }

  .skills-icon i::after {
    bottom: 110%; /* Adjust position for smaller screens */
    padding: 1px 4px;
  }

  /* Show tooltip on tap */
  .skills-icon i:active::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
  }
}
