/********* Social media Icons ***********/
.social-icons {
  justify-content: space-evenly;
}
.icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 60px;
  font-size: 30px;
  color: #333;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

.icons a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--hover-color);
  top: 100%;
  left: -100%;
  /* z-index: -1; */
  border-radius: 10px;
  transition: 0.5s ease;
}

.icons a:hover::before {
  top: 0;
  left: 0;
}

.icons a i {
  position: relative;
  z-index: 2;
  transition: 0.3s;
}

.icons a:hover i {
  color: white;
}

/* Specific Colors for Each Icon */
.instagram {
  --hover-color: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
.linkedin {
  --hover-color: #0077b5;
}
.github {
  --hover-color: #333;
}
.gmail {
  --hover-color: linear-gradient(90deg, #34a853, #ea4335);
}
@media (max-width: 900px) {
  .icons a::before {
    top: 0;
    left: 0;
  }
  .icons a > i {
    color: white;
  }
}
