* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin";
}
section {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #c8a2c88f;
  overflow-x: hidden;
}
/* Primary Highlight */
.primary {
  color: #553c9a;
  text-shadow: 0px 0px 0 #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.primary:hover {
  color: #442e7a;
}
/* Main */
main {
  height: 100%;
  width: 100%;
}
/********* Home section ******/
#home,
#contact {
  height: 95dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 130px;
}
.text-larger {
  font-size: 5em;
  font-weight: 100;
}
#home a {
  margin: auto;
}
#home > .hover-effect::before {
  height: 4px;
}
/* Arrow down styling */
.arrow-down {
  margin-bottom: -70px;
  font-size: 3em;
  transition: all 0.3s ease;
  animation: move-arrow 2s infinite ease-in-out;
  animation-play-state: running;
}
@keyframes move-arrow {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(20px);
  }
}
/********* About section ******/
#about {
  margin-top: 30px;
  padding: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  padding-bottom: 20px;
  border-radius: 20px;
  gap: 10px;
  box-shadow: 5px 5px 5px 5px #00000086;
  transition: scale 0.3s ease;
  height: 450px;
  width: 30%;
}
.image:hover {
  scale: 1.03;
  cursor: pointer;
}
img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: top;
}
.about-me {
  width: 70%;
  padding: 10px;
}
h2 {
  font-size: 50px;
  text-transform: uppercase;
  display: inline;
  border-bottom: 1px solid #333;
}
.intro {
  padding-top: 20px;
}
.about-me p {
  /* color: #333; */
  line-height: 27px;
  font-size: 1em;
}
.icons {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  padding-left: 10px;
}
/* Footer */
#contact h2 {
  /* display: block; */
  width: 100%;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: #1d1d1d 1px solid;
}
footer > .social-icons {
  width: 100%;
}
@media (max-width: 900px) {
  #home {
    margin-top: 7%;
  }
  .text-larger,
  .arrow-down {
    font-size: 3.8em;
  }
  #about {
    margin-top: 0;
    padding: 10px;
    flex-direction: column-reverse;
  }
  .about-me {
    width: 100%;
  }
  h2 {
    font-size: 30px;
  }
  .image {
    width: 50%;
    margin: 0 30px;
  }
  .about-me > p {
    margin: 0 !important;
    font-size: 0.975em;
    border-width: 1px;
  }
}
@media (max-width: 500px) {
  #home {
    margin-top: 10%;
  }
  .image {
    width: 90%;
  }
  .text-larger,
  .arrow-down {
    font-size: 2.5em;
  }
}
